/* Styles for desktop devices */
@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* navbar starts */
  body {
    background: #fde1e1a6;
    font-family: "Poppins", sans-serif;
  }

  /* Navbar styles */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #fdd5d58f;
    color: #6070ff;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 72px;
  }

  .menu .union-bar {
    display: none;
  }

  .logo {
    margin-left: -2.5%;
    width: 30%;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    right: 20px;
    transform: translateX(-50%);
  }

  .menu-toggle span {
    margin: 0 10px;
  }

  .menu-item {
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    font-weight: 500;
    padding: 5px;
    transition: background-color 0.3s;
  }

  a.menu-item {
    text-decoration: none;
  }

  .pop-up-section {
    display: none;
    visibility: hidden;
  }

  .pop-up-list {
    display: none;
    visibility: hidden;
  }

  .pop-up-menu {
    display: none;
    visibility: hidden;
  }

  .pop-up {
    display: none;
    visibility: hidden;
  }

  /* Main section styles */

  /* headline starts */
  .headline {
    background-color: rgba(229, 229, 229, 0.3);
  }

  .main {
    margin-top: 5.5%;
    padding-top: 17%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 10%;
    background-image: url(./Assets/images/Header\ bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-color: #fcd3d3;
    border-bottom-left-radius: 8rem;
  }

  .intro-mobile {
    color: #091e42;
    padding-left: 13.8%;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    font-weight: 700;
    font-size: 3rem;
    width: 45%;
  }

  .text-description {
    font-weight: 400;
    color: #344563;
    padding-left: 13.8%;
    font-size: 20px;
  }

  .text-description p {
    margin-block-start: 0;
  }

  .social h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 13.8%;
    font-weight: 500;
    color: #7f8cff;
    font-size: 1rem;
  }

  .main ul {
    margin-left: 14%;
  }

  .media-icons li {
    list-style-type: none;
  }

  /* work section */
  .works {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    row-gap: 4.5rem;
    padding-top: 10%;
    padding-left: 6%;
    padding-right: 6%;
    background-color: rgba(229, 229, 229, 0.3);
  }

  .title {
    display: none;
  }

  .image-mobile {
    display: none;
  }

  .project-company {
    display: none;
  }

  .specialization {
    display: none;
  }

  .stack {
    display: none;
  }

  .image:hover {
    width: 65%;
  }

  .two {
    order: 2;
  }

  .container-work-mobile {
    display: none;
  }

  .cards-desk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    background: #fcd3d3;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  /* Target odd child elements (1st, 3rd, 5th, etc.) */
  .container-work-desk:nth-child(odd) .card-image-desk {
    float: left;
  }

  /* Clear float after each odd child */
  .container-work-desk:nth-child(odd)::after {
    content: "";
    display: table;
    clear: both;
  }

  /* Target even child elements (2nd, 4th, 6th, etc.) */
  .container-work-desk:nth-child(even) .card-image-desk {
    float: right;
  }

  /* Clear float after each even child */
  .container-work-desk:nth-child(even)::after {
    content: "";
    display: table;
    clear: both;
  }

  .project-description {
    display: none;
  }

  .stack-desk {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    border-radius: 0.8rem;
  }

  .stack-desk li {
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 0;
  }

  .stack-desk a {
    align-items: center;
    padding: 4px 12px;
    border-radius: 8px;
    background: #ebebff;
    text-decoration: none;
    color: #6070ff;
  }

  .pop-desc {
    grid-template-columns: 2fr 1fr;
  }

  .pop-img-mobile {
    display: none;
  }

  .pop-img-desk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  /* About myself starts */
  .container-about {
    width: 100vw;
    margin: 0%;
    justify-content: center;
    align-self: center;
    padding-top: 11%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 13%;
    display: flex;
    flex-direction: row;
    background-color: #fcd3d3;
    border-top-right-radius: 120px;
    flex-basis: 50%;
  }

  .card-about {
    max-width: 40%;
    padding-right: 1.94%;
  }

  .about-project-title h3 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    font-size: 2.5rem;
    font-weight: 700;
    color: #091e42;
  }

  .description-about p {
    font-weight: 400;
    color: #344563;
  }

  .card-about .social h3 {
    margin-left: -13%;
    font-size: 100%;
    color: #7f8cff;
    font-weight: 500;
  }

  .card-about .social .media-icons {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    padding-bottom: 2.5%;
  }

  .resume-btn {
    margin-top: -20px;
  }

  .languages-frameworks {
    width: 38%;
    flex-basis: 50%;
  }

  .languages-frameworks-list {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
  }

  .language-title {
    display: flex;
  }

  .language-title h2 {
    color: #344563;
    font-weight: 500;
    font-size: 1.25rem;
  }

  .languages-name {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .languages-name li {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 122px;
    height: 120px;
    padding: 12px 12px 20px 12px;
    border-radius: 8px;
  }

  .languages-name li:last-child {
    margin-right: 0;
  }

  .language-logo {
    display: flex;
    flex-direction: column;
    height: 48px;
    width: 48px;
  }

  .certain-language-name p {
    margin: 0;
    margin-left: 5px;
    flex-direction: column;
  }

  .framework-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e5e5e5;
  }

  .framework-title h2 {
    color: #344563;
    font-weight: 500;
    font-size: 1.25rem;
  }

  .skill-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e5e5e5;
  }

  .skill-title h2 {
    color: #344563;
    font-weight: 500;
    font-size: 1.25rem;
  }

  /* Contact me starts */
  .contact-me {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0%;
    align-self: center;
    background-color: #6070ff;
    background-image: url(./Assets/images/contact\ form\ background\ shapes-desktop.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 120px;
  }

  .footer-text p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    color: #ebebff;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .contact-me h4 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 10%;
  }

  .contact-form {
    width: 27rem;
    margin-bottom: 5%;
    color: #172b4d;
    border-width: 0;
    padding: 0.5rem;
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }

  .contact-form-wrapper {
    display: flex;
    justify-content: center;
  }

  .contact-form input {
    width: 27rem;
    height: 3rem;
    color: #b3bac5;
    border-width: 0;
    border-radius: 2px;
    padding: 0.5rem;
    font-weight: 400;
    font-size: 0.86rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form textarea {
    width: 27rem;
    height: 8rem;
    color: #b3bac5;
    border-width: 0;
    border-radius: 2px;
    padding: 0.5rem;
    font-weight: 400;
    font-size: 0.86rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Contact me ends */

  .wrapper-about-contact {
    display: grid;
    justify-content: center;
  }
}
