@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f9;
  font-family: "Poppins", sans-serif;
}

@media screen, (min-width: 375px) and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6070ff;
    background: #fff;
    padding: 24px;
  }

  nav a {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  .main {
    padding: 114px 24px;
    border-bottom-left-radius: 120px;
    background: url(Assets/images/header-shapes\ mobile@2x.svg) #fff;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main h1 {
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
  }

  .text-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
    margin-top: 10px;
  }

  .main ul {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
  }

  .main li {
    list-style-type: none;
  }

  .main .media-icons {
    margin-top: 10px;
  }

  .media-icons a {
    color: #505f79;
  }

  .social h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #7f8cff;
    margin-top: 10px;
  }

  .social ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin-top: 10px;
  }

  .social {
    padding-bottom: 40px;
  }

  .container-work {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: 45px;
    padding-top: 100px;
    gap: 100px;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    gap: 12px;
  }

  .left-card1-block {
    gap: 12px;
  }

  .tonic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .tonic h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: #172b4d;
    margin-top: 10px;
  }

  .project-badges {
    display: flex;
    align-items: center;
    gap: 12px;
    list-style-type: none;
  }

  .tonic a {
    text-decoration: none;
    color: #7a869a;
  }

  .counter-image {
    background: #c1c7d0;
    border-radius: 50%;
  }

  .project-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
    margin-top: 10px;
  }

  .text-1 {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #344563;
    margin-top: 10px;
  }

  .text-2 {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #7a869a;
    margin-top: 10px;
  }

  .text-3 {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #7a869a;
    margin-top: 10px;
  }

  .language-categories {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
  }

  .language-categories li {
    list-style-type: none;
    margin-top: 30px;
  }

  .language-categories a {
    align-items: center;
    padding: 4px 12px;
    border-radius: 8px;
    background: #ebebff;
    text-decoration: none;
    color: #6070ff;
  }

  .submit-btn {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #396df2;
    padding: 12px;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #6070ff;
    margin-top: 30px;
  }

  /* About Section */

  .container-about {
    padding: 114px 24px;
    align-items: center;
    margin-top: 100px;
    background: #fff;
    border-top-right-radius: 120px;
  }

  .about-project-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: #172b4d;
  }

  .description-about {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
    margin-top: 10px;
  }

  .resume-button {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .skill-list,
  .lang {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;
  }

  .lang li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background-color: #f7f7f9;
    border-radius: 5px;
    text-decoration: none;
    color: #253858;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
  }

  .list {
    display: flex;
    justify-content: space-between;
  }

  .list span {
    color: #000;
    font-size: 20px;
    font-weight: 500;
  }

  hr {
    background: #dfe1e6;
    height: 1px;
    border: 0.5px;
    margin-top: 10px;
  }

  /* BUTTON STYLES */
  .submit-btn:enabled {
    background: #fff;
    color: #7f8cff;
  }

  .submit-btn:disabled {
    background: #c1c7d0;
    color: #fff;
  }

  .submit-btn:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .submit-btn:active {
    transform: scale(1.1);
    background: #2230d2;
    color: #fff;
    -webkit-transform: scale(1);
  }

  .btn.btn-default.btn-hover:enabled {
    background: #fff;
    color: #7f8cff;
  }

  .btn.btn-default.btn-hover:disabled {
    background: #fff;
    color: #c1c7d0;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
  }

  .btn.btn-default.btn-hover:hover {
    background-color: #6070ff;
    color: #fff;
    border-color: #fff;
  }

  .btn.btn-default.btn-hover.btn-pressed:active {
    transform: scale(1.1);
    background: #2230d2;
    color: #fff;
    -webkit-transform: scale(1);
  }

  .btn.btn-default.btn-hover.btn-pressed:focus {
    outline: none;
    box-shadow: none;
  }
}
